
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateViewExample</title>
</head>
<body>
    <h1>Hello Create View Example by Amardeep Kumar Amar</h1>
</body>
</html>
