
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Razor Code Blocks Example</title>
</head>
<body>
    @{ 
        int a, b, c;
        a = 10;
        b = 20;
        c = a + b;
        Response.Write(c);
    }
</body>
</html>
