
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Expression</title>
</head>
<body>
    @{ 
        string m = "Hello";
        string message = "Amardeep Kumar Amar";
        string msg = "Hello Expression";
    }
    <h1>@m&nbsp;@message</h1>
    <p>@msg</p>
</body>
</html>
